<!DOCTYPE html>
<!--
	This code is Open Source Code for the GitX GitHub x PSG Tech Hackathon 2022.
	Team CodeHawk
	- Aaditya Rengarajan
	- Ajay Ramesh
	- S Karun Vikhash
	- Sanjay Kumaar Easwaran
	-->
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>[EVENTIQUE] Profile</title>
	<link rel="stylesheet" href="../static/styles/authpage.css"/>
	<link rel="stylesheet" href="../static/styles/interesteselect.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
</head>
<body>
		<div class="screen">

			<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			  <header class="mdl-layout__header">
			    <div class="mdl-layout__header-row">
			      <span class="mdl-layout-title">Profile</span>
			    </div>
			    <div class="mdl-layout-spacer"></div>
			    <div class="mdl-card__menu" style="margin-top: -6px;">
				  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" style="transform: rotate(-30deg);">
				      <i class="material-icons">send</i>
				  </button>
				</div>
			  </header>
			  <div class="mdl-layout__drawer">
			  	<br/>
			    <span class="mdl-layout-title">Eventique</span>
			    <nav class="mdl-navigation">
			      <a class="mdl-navigation__link" href="{{url_for('dashboard')}}">Dashboard</a>
			      <a class="mdl-navigation__link" href="">Events</a>
			      <a class="mdl-navigation__link">My Profile</a>
			      <a class="mdl-navigation__link" href="">Rooms</a>
			      <a class="mdl-navigation__link" href="">Settings</a>
			    </nav>
			  </div>
			  <main class="mdl-layout__content" style="padding:15px">
			    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="min-height: 10%!important">
                    <div class="mdl-card__title">
                      <h2 class="mdl-card__title-text">{{person["First Name"]}} {{person["Last Name"]}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                      {{person["Roll No."]}}
                      <br>
                      {{", ".join(person["Languages"])}}
                    </div>
                  </div>
                  <br>

                  <div class="demo-card-wide mdl-card mdl-shadow--2dp certificate">
                    <div class="mdl-card__title" style="background-image:url('{{recent_cert['image']}}'); height:176px; background-size:320px; background-repeat: no-repeat;">
                      <h2 class="mdl-card__title-text">{{recent_cert['title']}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                      {{recent_cert["details"]}}
                    </div>
                  </div>
			  </main>
			</div>



		</div>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>