/* This code is Open Source Code for the GitX GitHub x PSG Tech Hackathon 2022.
   Team CodeHawk
   - Aaditya Rengarajan
   - Ajay Ramesh
   - S Karun Vikhash
   - Sanjay Kumaar Easwaran */

.mdl-button--raised {
	background-color: whitesmoke !important;
	color: #6962AC !important;
}

.mdl-card {
	border-radius: 10px !important;
}