<!DOCTYPE html>
<!--
	This code is Open Source Code for the GitX GitHub x PSG Tech Hackathon 2022.

	Team CodeHawk
	- Aaditya Rengarajan
	- Ajay Ramesh
	- S Karun Vikhash
	- Sanjay Kumaar Easwaran
	-->
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[EVENTIQUE] Confirm Email</title>
	<link rel="stylesheet" href="../../static/styles/authpage.css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
</head>
<body>
		<div class="screen">
			<div class="screen__content">
				<form class="login" action="{{url_for('signup_page')}}" method='POST'>
					<div class="login__field">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					      <input class="mdl-textfield__input" type="text" id="sample3" name="OTP">
					      <label class="mdl-textfield__label" for="sample3">OTP</label>
				    	</div>
				    </div>
					<button class="button login__submit">
						<span class="button__text">Log In</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>
				</form>
				<div class="social-login">
					<p>confirm your email to complete sign-up and log in.</p>
				</div>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>		
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>		
		</div>
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>