<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/sign_up.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <form action="index.html" method="post">
  
    <h1>Sign Up</h1>
    
    <fieldset>
      <legend>Your basic info</legend>
      <label for="first_name">First Name:</label>
      <input type="text" id="name" name="user_name">
      <label for="last_name">Last Name:</label>
      <input type="text" id="name" name="user_name">
      <label for="mail">Roll No.:</label>
      <input type="email" id="mail" name="user_email">
      <label for="password">Password:</label>
      <input type="password" id="password" name="user_password">
      <label for="password"> Confirm Password:</label>
      <input type="password" id="password" name="user_password"> 
    </fieldset>

    <fieldset>
    <label for="job">Department</label>
    <select id="job" name="user_job">
      <optgroup label="Bachelor Of Engineering">
        <option>Automobile Engineering</option>
        <option>Biomedical Engineering</option>
        <option>Civil Engineering</option>
        <option> Computer Science and Engineering</option>
        <option>Electrical and Electronics Engineering</option>
        <option>Electronics and Communication Engineering</option>
        <option>Instrumentation and Control Engineering</option>
        <option>Mechanical Engineering</option> 
        <option>Metallurgical Engineering</option>
        <option>Production Engineering</option>
        <option>Robotics and Automation</option> 
        <option>Bio Technology</option>
        <option>Fashion Technology</option>
        <option>Information Technology</option> <option>Textile Engineering</option>
        <option>Electrical and Electronics Engineering (Sandwich)</option> 
        <option>Mechanical Engineering (Sandwich)</option>
        <option>Production Engineering (Sandwich)</option>
        <option>Textile Technology (Part Time)</option>
      </optgroup>
      <optgroup label="Bachelor of Science Programmes">
        <option>Applied Science</option>
        <option>Computer Systems and Design</option>
      </optgroup>
      <optgroup label="Master of Engineering / Technology Programmes">
        <option>Applied Electronics</option>
        <option>Automotive Engineering</option>
        <option>Biometerics and Cyber Security</option>
        <option>Communication Systems</option>
        <option>Computer Integrated Manufacturing</option>
        <option>Computer Science and Engineering</option>
        <option>Control Systems</option>
        <option>Embedded & Real-Time Systems</option>
        <option>Energy Engineering</option>
        <option>Engineering Design</option> 
        <option>Industrial Engineering</option>
        <option>Industrial Metallurgy</option>
        <option>Infrastructure Engineering</option> 
        <option>Manufacturing Technology</option>
        <option>Power Electronics and Drives</option>
        <option>Structural Technology</option>
        <option>Virtual Prototyping and Digital Manufacturing</option>
        <option>VLSI Design</option> 
        <option>Wireless Communication</option>
        <option>Bio Technology</option>
        <option>Information Technology</option>
        <option>Wireless Communication</option>
        <option>Nano Science and Technology</option>
        <option>Textile Technology</option>
      </optgroup>
      <optgroup label="Post Graduate Programmes in Science">
        <option>Data Science [5 Years Integrated]</option>
        <option>Applied Mathematics</option>
        <option>D	MSc Cyber Security [5 Years Integrated]</option>
        <option>A	Fashion Design & Merchandising [5 Years Integrated]</option>
        <option>Software Systems [5 Years Integrated]</option>
        <option>Theoretical Computer Science [5 Years Integrated]</option>
      </optgroup>
      <optgroup label="Post Graduate Programme in Computer Application">
        <option>Master of Computer Applications</option>
      </optgroup>
      </optgroup>
      <optgroup label="Post Graduate Programmes in Management">
        <option>MBA</option>
        <option>MBA (Waste Management & Social Entrepreneurship)</option>
      </optgroup>
    </select>
    </fieldset>

    <button type="submit">Sign Up</button>

  </form>
</body>
</html>